body{
    background-color: rgb(255, 189, 115);
}

.registration-form{
	padding: 50px 0;
}

.registration-form form{
    background-color: #fff;
    max-width: 1100px;
    margin: auto;
    padding: 50px 70px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
}



.registration-form .item{
	border-radius: 18px;
    margin-bottom: 20px;
    padding: 10px 20px;
}

.registration-form .itemselect{
	border-radius: 40px;
    margin-bottom: 20px;
    padding: 7px 20px;

}

.registration-form .create-account{
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: #FF9B29;
    border: none;
    color: white;
    margin-top: 20px;
}



.registration-form .social-icons a{
    font-size: 23px;
    margin: 0 3px;
    color: #FE8700;
    border: 1px solid;
    border-radius: 50%;
    width: 45px;
    display: inline-block;
    height: 45px;
    text-align: center;
    background-color: #fff;
    line-height: 45px;
}



@media (max-width: 576px) {
    .registration-form form{
        padding: 50px 20px;
    }

    .registration-form .form-icon{
        width: 70px;
        height: 70px;
        font-size: 30px;
        line-height: 70px;
    }
}

.custom-height{ height:300px }

#centrado {
	 text-align:center;
}

.effect {
	height: 120px;
}
.effectfeedback {
	height: 40px;
}

