<!DOCTYPE html >

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
<head>
<meta charset="UTF-8"></meta>
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css"
	rel="stylesheet" />

<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet"
	th:href="@{/css/bootstrap-datetimepicker.min.css}" />
<link rel="stylesheet" th:href="@{/css/style.css}" />
<link rel="stylesheet" th:href="@{/css/duenoStyles.css}" />
<link rel="stylesheet" th:href="@{/css/aos.css}" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>

<body>
	<div class="registration-form" data-aos="fade-right">
		<form th:action="@{/walker/registrar}" method="post" th:object="${walker}">

			<div class="row">
				<div class="form-group">
					<h1>Registrarse como:Paseador</h1>
				</div>
			</div>

			<div class="form-icon">
				<span><i class="icon icon-user"></i></span>
			</div>

			<div class="row">
				<div class="form-group col-sm-6">
					<input type="text" class="form-control item" placeholder="Nombre"
						th:field="*{firstNames}"
						th:errorclass="'form-control alert-danger'" /> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('firstNames')}"
						th:errors="*{firstNames}"></small>

				</div>
				<div class="form-group col-sm-6">
					<input type="text" class="form-control item"
						placeholder="Apellidos" th:field="*{lastNames}"
						th:errorclass="'form-control alert-danger'" /> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('lastNames')}" th:errors="*{lastNames}"></small>
				</div>
			</div>

			<div class="form-group">
				<input type="text" class="form-control item" placeholder="Email"
					th:field="*{email}" th:errorclass="'form-control alert-danger'" />
				<small class="form-text text-danger"
					th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
			</div>
			<div class="form-group">
				<input type="password" class="form-control item"
					placeholder="Contraseña" th:field="*{password}"
					th:errorclass="'form-control alert-danger'" /> <small
					class="form-text text-danger"
					th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></small>
			</div>


			<div class="row">
				<div class="form-group col-sm-6">
					<div class=" form group date" id="id_0">
						<input type="text" class="form-control itemselect"
							placeholder="Fecha de nacimiento" onfocus="(this.type='date')" th:field="*{dateOfBirth}"
							th:errorclass="'form-control alert-danger'" /> <small
							class="form-text text-danger"
							th:if="${#fields.hasErrors('dateOfBirth')}"
							th:errors="*{dateOfBirth}"></small>

					</div>
				</div>

				<div class="form-group col-sm-6">

					<select th:class="${claseDistrito}"
						th:field="*{District.idDistrict}">
						<option th:value="0" disabled selected>Distrito</option>					
						<option th:each="d: ${listadistrito}" th:value="${d.idDistrict}"
							th:text="${d.name}"
							th:selected="(${d.idDistrict}==*{District.idDistrict})">
						</option>

					</select>
					<small class="form-text text-danger" th:text="${mensajeDistrito}"></small>


				</div>
			</div>

			<div class="form-group">
				<input type="text" class="form-control item" placeholder="Dirección"
					th:field="*{address}" th:errorclass="'form-control alert-danger'" />
				<small class="form-text text-danger"
					th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></small>
			</div>

			<div class="form-group">
				<textarea type="text" class="form-control item" rows="3"
					placeholder="Descripción" th:field="*{description}"
					th:errorclass="'form-control alert-danger'"></textarea>
				<small class="form-text text-danger"
					th:if="${#fields.hasErrors('description')}"
					th:errors="*{description}"></small>
			</div>
			<div class="form-group">
				<select th:class="${clasePersonalidad}"
					th:field="*{Personality.idPersonality}">
					<option th:value="0" disabled selected>Personalidad</option>					
		
					<option th:each="p: ${listpersonalidad}"
						th:value="${p.idPersonality}" th:text="${p.name}"
						th:selected="(${p.idPersonality}==*{Personality.idPersonality})">
					</option>
				</select>
				<small class="form-text text-danger" th:text="${mensajePersonalidad}"></small>
				
			</div>
			<div class="form-group">
			<label style="color:#495057;">Costo por hora</label>
				<input type="text"   value="" class="form-control item"
					th:field="*{costService}" placeholder="" 
					th:errorclass="'form-control alert-danger'"  /> <small
					class="form-text text-danger"
					th:if="${#fields.hasErrors('costService')}"
					th:errors="*{costService}"></small>

			</div>
			<button type="submit" class="btn btn-block create-account">Crear
				Cuenta</button>
			<a class="btn btn-block" th:href="@{/pantalla/regitrarSegunUsuario}">Volver</a>
			<div class="alert alert-danger" th:if="${mensaje != null}"
				th:text="${mensaje}"></div>
		</form>
		
		
			
			

	</div>

	<script th:src="@{/js/aos.js}"></script>
	<script th:src="@{/js/bootstrap.bundle.js}"></script>
	<script th:src="@{/js/glightbox.js}"></script>
	<script th:src="@{/js/isotope.pkgd.js}"></script>
	<script th:src="@{/js/validate.js}"></script>
	<script th:src="@{/js/swiper-bundle.min.js}"></script>
	<script th:src="@{/js/main.js}"></script>

</body>
</html>