<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
<head>
<meta charset="UTF-8"></meta>
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Paseadores por distrito</title>
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">



<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" th:href="@{/css/styleTable.css}" />
<link rel="stylesheet" th:href="@{/css/bootstrap.min.version.2.css}" />
<link rel="stylesheet" th:href="@{/css/header.css}" />
<link rel="stylesheet" th:href="@{/css/styles2.css}" />
<link rel="stylesheet" th:href="@{/css/styleTable.css}" />
<link rel="stylesheet" th:href="@{/css/stylePagination.css}" />

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

<script>
$(document).ready(function(){
	$('[data-toggle="tooltip"]').tooltip();
});
</script>
</head>
<body>
	<div th:replace="fragments/header :: header_dueno"></div>
	<div class="container">
		<form id="myform">
			<div class="container-xl">
				<div class="table-responsive">
					<div class="table-wrapper">
						<div class="table-title">
							<div class="row">
								<div class="col-sm-5">
									<h2 class="box-head">
										<b>Paseadores</b>
									</h2>
								</div>

							</div>
						</div>

						<div class="form-group">
							<select class="form-control" name="state" id="maxRows"
								style="display: none">
								<option value="5000">Show ALL Rows</option>
								<option value="5">5</option>

							</select>

						</div>


						<table class="table table-striped table-hover">
							<thead class="table-head">
								<tr>
									<th class="text-center">Nombre</th>
									<th class="text-center">Apellido</th>
									<th class="text-center">Edad</th>
									<th class="text-center">Descripción</th>
									<th class="text-center">Personalidad</th>
									<th class="text-center">Costo por hora</th>
									<th class="text-center">Distrito</th>
									<th class="text-center">Solicitar</th>
									<th class="text-center">Referencias</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="w: ${listarPaseadores}">
									<td style="text-align: center" th:text="${w.firstNames}"></td>
									<td style="text-align: center" th:text="${w.lastNames}"></td>
									<td style="text-align: center"
										th:text="${WalkerController.calcularEdad(w.dateOfBirth)}"></td>
									<td th:text="${w.description}"></td>
									<td style="text-align: center" th:text="${w.personality.name}"></td>
									<td style="text-align: center"
										th:text="'S/. ' + ${w.costService}"></td>
									<td style="text-align: center" th:text="${w.district.name}"></td>
									<td style="text-align: center"><a
										th:href="@{/serviceRequest/irRegistrar?id=}+${w.idWalker}"
										class="serviceRequest" title="ServiceRequest"
										data-toggle="tooltip"><i class="material-icons">&#xe14f;</i></a></td>
									<td style="text-align: center"><a
										th:href="@{/feedback/Comentarios?id=}+${w.idWalker}"
										class="comment" title="Comment" data-toggle="tooltip"><i
											class="material-icons">&#xe24c;</i></a></td>
								</tr>
							</tbody>
						</table>


						<div class='pagination-container'>
							<nav>
								<ul class="pagination">

									<li data-page="prev"><span> < <span class="sr-only">(current)</span></span></li>

									<li data-page="next" id="prev"><span> > <span
											class="sr-only">(current)</span></span></li>
								</ul>
							</nav>
						</div>

					</div>
				</div>
			</div>
		</form>
	</div>
	<div th:replace="fragments/footer :: footer"></div>
	<script th:src="@{/js/pagination.js}"> </script>

</body>
</html>